html{
    scroll-behavior: smooth;
}

body{
    
    background-color: rgb(153, 20, 20);
    background-attachment: fixed;
    background-size: cover;
}

.header{
    display:flex;
    width:95%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height:80px;
    background:  darkred 80%;
    padding-bottom: 3%;
    padding-top: 0%;
    padding-left: 5%;
    align-items:flex-end;
}
.ul{
    font-family: Arial Black;
    font-size:15px;
    color: white;
}
.frase{
    font-family:'Times New Roman';
    font-size: 10px;
    color: yellow;
    font-style: italic;
}

/*menu*/
.return{
    border: 1px solid yellow;
    background-color: darkred;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 5px;   
}
ul{
    list-style: none;
}
.nab li a{
    width: 10px;
    border-radius: 5px;
    padding: 15px;
    margin-left: -40px;
    margin-right: 1px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.3s ease;

}
.nab li a:hover{
    background-color: rgb(161, 17, 17);
    transform:scale(20%);
}

/* informacion*/
.info{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    width: auto;
    height: auto;
}
.name{
    color: white;
    font-family: Arial Black;
    border-bottom: 2px solid;
    padding-left: 20px;
    padding-top: 10px;
    width: auto;
    height: 25px;
    
}

/*bloques*/

.container{
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,12%);
    height: auto;

}

.separator{
    height: 20px;
}

.block1{
    align-items: flex-end;
    background-color: darkred;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.block2{
    align-items: flex-end;
    background-color: darkred;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.block3{
    align-items: flex-end;
    background-color: darkred;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.block4{
    align-items: flex-end;
    background-color: darkred;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;


}
