html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(158, 17, 17);
    min-height: 1100px;
}
.header{
    display:flex;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    height:150px;
    background-attachment:fixed;
    background: darkred 80%;
    padding-bottom: 3%;
    padding-top: 0%;
    align-items:center;
    justify-content: center;
}
.ul{
    font-family: Arial Black;
    font-size: 30px;
    color: white;
}


.frase{
    font-family:'Times New Roman';
    font-size: 15px;
    color: yellow;
    font-style: italic;
}
/* menu */
.return{
    border: 1px solid yellow;
    position: relative;
    background-color: darkred;
    position: absolute;
    top: 5%;
    border-radius: 5px;   
   
}
.nab li a{
    width: 10px;
    border-radius: 5px;
    padding: 15px;
    margin-left: -40px;
    margin-right: 1px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: transform 0.3s ease;

}
.nab li a:hover{
    background-color: rgb(161, 17, 17);
    transform: scale(1.1);
}

/*formulario*/
.name{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    border-bottom: solid;
    width: 400px;

}
.Formu{
    display: flex;
    position: absolute;
    top: 30%;
    left: 10%;
    justify-content: center;
    height: 600px;
    width: 80%;
    background: darkred;
    padding:30px;
    border-radius: 4px;
    border: Solid yellow;
    float: left;

}
.resgis{
    margin-bottom: 15px;
    padding: 10px;
    width: 250px;
    font-family: calibri ;
    color: rgb(0, 0, 0);
    border: none;
}
.resgist{
    font-family: calibri ;
    margin-bottom: 15px;
    padding: 10px;
    width: 350px;
    height: 200px;
    color: black;
    border-radius: 5px;
}

.datosE{
    width: 400px;
}
.datosTu{
    width: 400px;
    margin-left: 150px;
    margin-right: 150px;

}
.extra{
    width: 400px;

}
.subir{
    position:absolute;
    bottom: 5%;
    justify-content: center;
    width: 1500px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    background-color:  rgb(161, 17, 17);
    font-family: calibri;

}

input{
    border-radius: 4px;
}